
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let todo of todosArr">
        <strong>{{todo.title}}</strong>
         <span
            class="badge text-center"
            [ngClass]="todo.completed ? 'badge-success' : 'badge-warning'"
        >
            {{ todo.completed ? 'Completed' : 'Pending' }}
        </span>
        <div>
            <button 
            (click)="OnEdit(todo)"
            mat-raised-button color="primary" class="mr-3">Edit</button>
            <button
            (click)="onRemove(todo.id)"
            mat-raised-button color="warn">Remove</button>

        </div>
    </li>
   
</ul>